/* Estilos para colores */

.colores {
    color: orangered;
}

.color-hexadecimal {
    color: #BCE784;
}

.color-rgb {
    color: rgb(53, 71, 226)
}

.color-rgba {
    color: rgba(10, 10, 10, .2);
}

/* fondo */

.fondo {
    /* background-color: cornflowerblue; */
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm222-mind-22_1_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=3d5d85909cafb6e0f0de9905cf40ec01);
    background-position: left center;
}

.fondo-interno {
    background-image: url(/background-1.jpg);
    background-position: left bottom;
}

/* Tamaños */

.ancho {
    background-color: #BCE784;
    width: 100px;
}

.alto {
    background-color: aquamarine;
    height: 200px;
}

.tarjeta {
    border-style: solid;
    border-color: rgb(150, 150, 150);
    border-width: 1px;
    padding: 10px 20px;
    margin: 10px 20px;
}