
body, h1 {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    background-color: azure;
    padding: .5rem;
}

h1 {
    @include formato-texto(#ccc);
}

p {
    @include formato-texto(#f2f2f2);
}

.listado {
    width: 10rem;
    background-color: aquamarine;
    padding: .5rem;

    ul {
        margin: 0;

        li {
            list-style: none;

            &:hover {
                color: red;
            }
        }
    }
}