div {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}

/* se posiciona en relacion al posicionamiento original */
.relative {
    position: relative;
    left: 80px;
}
/* se posiciona en relacion a la pantalla */
.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: blueviolet;
}

/* posicionamineto en relacion al padre que lo contiene  */
.absolute {
    position: absolute;
    top: 0;
    right: 0;
    background-color: yellow;
}

.relative.contenedor {
    width: 200px;
    height: 300px;
    background: blue;
}

/* posicionamiento manteniene su posicion aunque se de scroll */
.sticky {
    position: sticky;
    background-color: green;
    color: white;
    top: 0;
}