.escenario {
    border: 1px solid #333;
    padding: 10px;
}

.escenario-1 {
    font-size: 32px;
}

.escenario-2 {
    font-size: 16px;
}

/* EM tamaño de fuente de su contenedor padre */
.em {
    font-size: 2em;
}

/* REM tamaño de fuente de la RAIZ */
.rem {
    font-size: 2rem;
}